fastapi
uvicorn
pandas
groq
python-dotenv
streamlit
plotly
fpdf
openpyxl
requests
jinja2
python-multipart
altair
numpy
pillow
pyarrow
watchdog
tabulate
sniffio
anyio
idna
certifi
charset-normalizer
urllib3
google-generativeai
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
